/* Default browser styles */
body, ul {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

 
/* Navbar styles */
  .navbar {
    background-color: white;
    padding: 20px 0px;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
 
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #000;
  }
  
  .auth-links {
    display: inline-block;
    margin: 5px, 10px;
    margin-left: 30px;
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .auth-links {
      display: block;
      text-align: right;
      margin-top: 10px;
    }
  
    .auth-links a {
      display: block;
      margin-bottom: 10px;
    }
  }

#signin{
    margin: 20px;
  }

  .hero {
    width: 100%;
    background-image: url(../assets/img5.jpg); 
    margin-bottom: 50px;
    height: 600px;
    background-size: cover;
  }

.about-us-title {
    padding: 20px
}  
  
.about-us-title h1{
    font-size: 150px;
}
.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

/* carousel images */
#imageCarousel {
        max-width: 500px; 
        margin: auto;
    }

    .carousel-inner img {
        max-width: 100%; /* Ensure images don't exceed the width of the container */
        height: auto; /* Maintain the aspect ratio */
    }

.meet-the-team-title {
    font-size: 100px;
    text-align: center;
    padding-top: 80px;
}  
 
/* section */
.image-section {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    margin-top: 30px;
}

.image-container {
    text-align: center;
    margin-top: 10px;
    flex: 0 0 33.3%;
    margin-bottom: 55px;
    margin-top:10px;
}


.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-caption {
    font-weight: bold;
    margin-top: 30px;
}

/* WHERE TO FIND US */
.map-container {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
}

.map-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* BECOME A MEMBER */

.become-member {
    background-color: #f8f8f8;
    padding: 80px 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.become-member p {
    margin: 0 auto;
    font-size: 22px;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-primary {
    display: inline-block;
    padding: 5px 30px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 90px;
  }
  
.footer-left {
    flex: 1;
  }
  
.company-info {
    margin-bottom: 20px;
  }
  
.company-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
.social-media a {
    display: inline-block;
    margin-right: 10px;
  }
  
.social-media img {
    width: 30px;
    height: 30px;
  }
  
.footer-right {
    display: flex;
  }
  
.footer-column {
    flex: 1;
    padding-left: 50px;
  }
  
.footer-column h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
.footer-column ul {
    list-style: none;
    padding: 0;
  }
  
.footer-column ul li {
    margin-bottom: 8px;
  }
  
.footer-column ul li a {
    color: black;
    text-decoration: none;
  }
  
.footer-column ul li a:hover {
    text-decoration: underline;
  }