/* Reset default browser styles */
body, ul {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
/* Navbar styles */
  .navbar {
    background-color: white;
    padding: 20px 0px;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
 
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #000;
  }
  
  .auth-links {
    display: inline-block;
    margin: 5px, 10px;
    margin-left: 30px;
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .auth-links {
      display: block;
      text-align: right;
      margin-top: 10px;
    }
  
    .auth-links a {
      display: block;
      margin-bottom: 10px;
    }
  }

#signin{
    margin: 20px;
  }

  .hero {
    background-image: url(../assets/img3.jpg); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 200px;
    margin-bottom: 50px;
    height: 1000px;
  }
  
.hero h1 {
    font-size: 200px;
    margin-bottom: 20px;
    
  }
  
.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

/* carousel images */
#imageCarousel {
        max-width: 400px; /* Set the maximum width of the carousel */
        margin: auto; /* Center the carousel */
    }

    .carousel-inner img {
        max-width: 100%; /* Ensure images don't exceed the width of the container */
        height: auto; /* Maintain the aspect ratio */
    }

/* section */
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.image-container {
    text-align: center;
    margin-top: 50px;
    flex: 0 0 33.3%;
    margin-bottom: 100px;
}


.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-caption {
    font-weight: bold;
    margin-top: 30px;
}

/* where to find us */
.map-container {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
}

.map-container img {
    width: 100%;
    height: auto;
    display: block;
}
  
.btn-primary {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
.btn-primary:hover {
    background-color: #333;
    color: #fff;
  }

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 90px;
  }
  
.footer-left {
    flex: 1;
  }
  
.company-info {
    margin-bottom: 20px;
  }
  
.company-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
.social-media a {
    display: inline-block;
    margin-right: 10px;
  }
  
.social-media img {
    width: 30px;
    height: 30px;
  }
  
.footer-right {
    display: flex;
  }
  
.footer-column {
    flex: 1;
    padding-left: 50px;
  }
  
.footer-column h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
.footer-column ul {
    list-style: none;
    padding: 0;
  }
  
.footer-column ul li {
    margin-bottom: 8px;
  }
  
.footer-column ul li a {
    color: black;
    text-decoration: none;
  }
  
.footer-column ul li a:hover {
    text-decoration: underline;
  }