/* DEFAULT BROWSER STYLES */
body, ul {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

 
/* NAVBAR */
  .navbar {
    background-color: white;
    padding: 20px 0px;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
 
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #000;
  }
  
  .auth-links {
    display: inline-block;
    margin: 5px, 10px;
    margin-left: 30px;
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .auth-links {
      display: block;
      text-align: right;
      margin-top: 10px;
    }
  
    .auth-links a {
      display: block;
      margin-bottom: 10px;
    }
  }
  #signin{
    margin: 20px;
}

.title {
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

/* MAIN */

.facility-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facility-section {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.left-content,
.right-content {
    flex: 1;
}

.right-content p{
    font-size: 25px;
    padding-left: 30px;
}

img {
    width: 100%;
    height: auto;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
}

.caption {
    margin-top: 15px;
    
}

/* FOOTER */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 90px;
  }
  
.footer-left {
    flex: 1;
  }
  
.company-info {
    margin-bottom: 20px;
  }
  
.company-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
.social-media a {
    display: inline-block;
    margin-right: 10px;
  }
  
.social-media img {
    width: 30px;
    height: 30px;
  }
  
.footer-right {
    display: flex;
  }
  
.footer-column {
    flex: 1;
    padding-left: 50px;
  }
  
.footer-column h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
.footer-column ul {
    list-style: none;
    padding: 0;
  }
  
.footer-column ul li {
    margin-bottom: 8px;
  }
  
.footer-column ul li a {
    color: black;
    text-decoration: none;
  }
  
.footer-column ul li a:hover {
    text-decoration: underline;
  }